<div class="container">
  <div class="auth-body dimmer__wrap">
    <!--- Request to get a verification code ----->
    <form class="login-form box-shadow" #mainForm="ngForm" (ngSubmit)="request()" *ngIf="formState === 0">
      <div class="col-sm-12">
        <app-logo type="black"></app-logo>
      </div>
      <div class="col-sm-12 form-group" [ngClass]="{'has-error': checkInputError(iPhoneNumber)}">
        <label>Phone Number</label>
        <input type="text" name="phone_number" class="form-control" [(ngModel)]="phoneNumber" #iPhoneNumber="ngModel" required/>
      </div>
      <p class="col-sm-12">
        <a class="clickable text-gray" (click)="formState = 1">Verify Code >> </a>
      </p>
      <div class="col-sm-12 form-group">
        <button type="submit" class="btn btn-primary">Request to get a verification code</button>
      </div>
    </form>

    <!--- Login by a verification code ----->
    <form class="login-form box-shadow" #loginForm="ngForm" (ngSubmit)="login()" *ngIf="formState === 1">
      <div class="col-sm-12">
        <app-logo type="black"></app-logo>
      </div>
      <div class="col-sm-12 form-group" [ngClass]="{'has-error': checkInputError(iPhoneNumber)}">
        <label>Phone Number</label>
        <input type="text" name="phone_number" class="form-control" [(ngModel)]="phoneNumber" #iPhoneNumber="ngModel" required/>
      </div>
      <div class="col-sm-12 form-group" [ngClass]="{'has-error': checkInputError(iCode)}">
        <label>Code</label>
        <input type="text" name="code" class="form-control" [(ngModel)]="code" #iCode="ngModel" required/>
      </div>
      <p class="col-sm-12">
        <a class="clickable text-gray" (click)="formState = 0"><< Request a code </a>
      </p>
      <div class="col-sm-12 form-group">
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
    </form>

    <div class="dimmer" *ngIf="loading"><app-loading></app-loading></div>
  </div>
</div>
