$primary-color: #62BF00;
$primary-color-dark: #1db92a;
$primary-color-light: #64d667;
$primary-color-light-1: #c1edbf;

$secondary-color: #0084BF;
$secondary-color-dark: #0073b1;
$secondary-color-light: rgba(0,132,191, 0.7);

$logo-color: #F5CB5C;

$text-color-default: rgba(0,0,0,0.75);
$text-color-gray: rgba(0,0,0,0.4);
$text-color-gray-light: rgba(0,0,0,0.2);
$text-color-gray-bold: rgba(0,0,0,0.54);

$error-color: #FD4F4F;
$color-green: #2F7B15;

$pa-primary-color: #70C8BE;
$bkg-gray: #D8D8D8;
$bkg-placeholder: #e4e4e4;

$disabled-color: #e9ecef;
$muted: #8F919F;
$muted-light: #62636B;
$height-small: 34px;
