<div class="container">
  <app-rocket class="d-flex justify-content-center mb-2"></app-rocket>

  <div class="col-12 text-center pt-3">
    <h4>Simulator Website</h4>
    <p>This website is used for testing: Pusher connection, real-time updating order status, ...</p>
  </div>

  <div class="row apps d-flex justify-content-center">
    <a class="apps__item box box--hover" routerLink="/franchises">
      <span class="material-icons">precision_manufacturing</span>Stripe
      <span class="material-icons">chevron_right</span>
    </a>

    <a class="apps__item box box--hover" routerLink="/pusher">
      <span class="material-icons">phonelink</span> Pusher
      <span class="material-icons">chevron_right</span>
    </a>

    <a class="apps__item box box--hover" routerLink="/email">
      <span class="material-icons">mail</span>AWS SES
      <span class="material-icons">chevron_right</span>
    </a>
  </div>
</div>
